.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center;
  min-height: 100vh;
  background-color: rgb(79, 85, 88);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center;
  text-align: center;
  margin-top: 100px; /* Remove any margin from the top */
  color: black;
}

.header label { 
  color: rgb(10, 1, 1);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px; /* Space between label and h1 */
}

.header h1 { 
  font-family: 'Cinzel', serif;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  margin: 0; /* Remove any default margin */
}

.home-link {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  color: rgb(11, 0, 0);
  font-size: 25px; /* Larger font size */
  font-weight: bold; /* Bolder font weight */
  text-decoration: none;
  transition: color 0.3s; /* Smooth color transition */
}

.home-link:hover {
  color: blue;
}
.sins-list {
  margin-top: 50px; /* Adjust as needed */
}
.sins-list label {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px; /* Adjust as needed */
}

.sins-list-container {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 500px; /* Adjust as needed */
}

button {
  background-color: white; 
  border: none;
  color: rgb(7, 7, 7);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #323632;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background:white;
  border-radius: 5px;
  border: 2px solid #555;
}

input[type="checkbox"]:checked {
  background: #abd;
}

input[type=number], select {
  border-radius: 5px; /* Adjust as needed */
}

