
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-color: rgb(28, 26, 26);
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    padding-top: 7%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .date-widget {
    width: 390px;
    height: 800px;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 1000px;
  }

  .home-link {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    color: rgb(253, 250, 250);
    font-size: 25px; /* Larger font size */
    font-weight: bold; /* Bolder font weight */
    text-decoration: none;
    transition: color 0.3s; /* Smooth color transition */
  }
  
  .home-link:hover {
    color: blue;
  }
  