<div class="container">
  <div id="sidebar" class="sidebar" (click)="toggleMenu()">
    <h2>Menu</h2>
    <ul *ngIf="menuVisible">
      <li><a href="#" (click)="openInNewWindow(); $event.preventDefault()">Daily Readings</a></li>
      <li><a href="#" (click)="navigateToConfession(); $event.preventDefault()">Confession</a></li>
    </ul>
  </div>
  <div class="main-content">
    <div class="welcome-section">
      <h1>Welcome to {{title}}!</h1>
    </div>
    <div class="center-content">
      <h2>Daily Gospel</h2>
      <div class="gospel-text">
        <p>Jesus came to Nazareth, where he had grown up,
          and went according to his custom
          into the synagogue on the sabbath day.
          He stood up to read and was handed a scroll of the prophet Isaiah.
          He unrolled the scroll and found the passage where it was written:
          
          The Spirit of the Lord is upon me,
          because he has anointed me
          to bring glad tidings to the poor.
          He has sent me to proclaim liberty to captives
          and recovery of sight to the blind,
          to let the oppressed go free,
          and to proclaim a year acceptable to the Lord.
          
          Rolling up the scroll, he handed it back to the attendant and sat down,
               and the eyes of all in the synagogue looked intently at him.
          He said to them,
          “Today this Scripture passage is fulfilled in your hearing.”</p>
      </div>
      <app-liturgical-calendar></app-liturgical-calendar> <!-- Add this line -->
    </div>
  </div>
</div>
