.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh;
  background-image: url('../../../assets/images/homescreen.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: absolute;
  padding-top: 10%;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.center-content h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.center-content p {
  font-size: 25px;
  font-weight: bold;
  max-width: 1000px;
  font-family: 'Actor', sans-serif;
}

.main-content {
  flex-grow: 1;
  padding: 15px;
}

h1 {
  color: #ffffff;
  font-family: 'Cinzel', serif;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
}

