<div id="sidebar" class="sidebar">
  <ul>
    <li class="readings-button" title="Daily Readings">
      <a href="#" (click)="navigateToDailyReadings(); $event.preventDefault()"></a>
      <div class="button-label">Daily Readings</div>
    </li>
    <li class="confession-button" title="Confession">
      <a href="#" (click)="navigateToConfession(); $event.preventDefault()"></a>
      <div class="button-label">Confession</div>
    </li>
    <li class="calendar-button" title="Liturgical Calendar">
      <a href="#" (click)="navigateToLiturgicalCalendar(); $event.preventDefault()"></a>
      <div class="button-label">Liturgical Calendar</div>
    </li>
  </ul>
</div>
