<div id="sidebar" class="sidebar" (click)="toggleMenu()">
    <h2>Menu</h2>
    <ul *ngIf="menuVisible">
        <li><a href="#" (click)="navigateHome(); $event.preventDefault()">Home</a></li>
        <li><a href="#" (click)="openInNewWindow(); $event.preventDefault()">Daily Readings</a></li>
      <li><a href="#" (click)="navigateToConfession(); $event.preventDefault()">Confession</a></li>
      <li><a href="#" (click)="navigateToLiturgicalCalendar(); $event.preventDefault()">Liturgical Calendar</a></li>
    </ul>
  </div>