.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: flex-start; /* Align items to the left */
    min-height: 100vh;
    background-image: url('/../../assets/images/confession.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    padding: 20px; /* Add some padding */
  }

  .home-link {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    color: rgb(11, 0, 0);
    font-size: 25px; /* Larger font size */
    font-weight: bold; /* Bolder font weight */
    text-decoration: none;
    transition: color 0.3s; /* Smooth color transition */
  }
  .home-link:hover {
    color: blue;
  }
  
  .sins-list {
    font-size: 24px; /* Increase font size */
  }
  