/* You can add global styles to this file, and also import other style files */
div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

a {
  text-decoration: none; 
}
a:hover {
  text-decoration: underline;
}
.sidebar {
  width: 200px;
  background-color: #1289a9;
  border: 5px solid black;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
}

.sidebar h2 {
  cursor: pointer;
}

.sidebar h2:hover {
  color: #ccc;
}

.sidebar ul li {
  font-size: 20px;
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #ccc;
  cursor: pointer;
}